<!DOCTYPE html>
<html>
  <head>
    <title>error_arithmeticException.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <meta charset=UTF-8>
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
   <h1>nullPointerException</h1>
   
   <h3>看看页面有地方操作了null值</h3>
   <span th:text="${error}"></span>
   
   
   
   
  </body>
</html>
